---
import { readFragment, type FragmentOf } from '~/lib/datocms/graphql';
import { PageInlineFragment } from './fragments';

interface Props {
  record: FragmentOf<typeof PageInlineFragment>;
}

const { record } = Astro.props;

const unmaskedRecord = readFragment(PageInlineFragment, record);
---

<a href="/" class="pill">
  {unmaskedRecord.title}
</a>
