---
import { type FragmentOf, readFragment } from '~/lib/datocms/graphql';
import { ResponsiveImage } from '~/components/ResponsiveImage';
import { ImageGalleryBlockFragment } from './fragments';

interface Props {
  block: FragmentOf<typeof ImageGalleryBlockFragment>;
}

const { block } = Astro.props;

// Read unmasked block from fragment
const unmaskedBlock = readFragment(ImageGalleryBlockFragment, block);
---

<div class="gallery">
  <div>
    {
      unmaskedBlock.assets.map((asset) => (
        <figure>
          {/* Display responsive image for each asset */}
          <ResponsiveImage data={asset.responsiveImage} imgStyle={{ width: 'auto' }} />
          {/* Display title for each asset */}
          <figcaption>{asset.title}</figcaption>
        </figure>
      ))
    }
  </div>
</div>
